<div class="container header-container">
  <nav class="header-nav">
    <ul class="header-list">
      <li><a href="#">Home</a></li>
      <li><a href="#">Favorites</a></li>
    </ul>
    <a class="header-ink header-logo-tasty" href="#">tasty<span class="header-logo-treats">treats.</span></a>
    <div class="header-svg">
      <a href="#" target="_blank" rel="noopener noreferrer" class="shopping-cart">
        <svg class="header-shopping-cart-svg" width="24" height="24">
          <!-- <use href="/svg/shopping-cart.svg#shopping-cart"></use> -->
        </svg>
      </a>
    </div>
  </nav>

</div>