<div class="container">
    <div class="no-recipe-icon">
      <svg class="favorites-icon favorites-icon-elements" width="97" height="83">
        <use
          href="./images/sprite/icons.svg#icon-elements"
          class="favorites-icon-elements"
        ></use>
      </svg>
      <p class="no-recipes">
        It appears that you haven't added any recipes to your favorites yet. To
        get started, you can add recipes that you like to your favorites for
        easier access in the future.
      </p>
    </div>
  </div>