@media screen and (min-width: 768px) {
  .header-nav {
    padding-top: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav {
    padding-top: 42px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

@media screen and (max-width: 767px) {

  .header-list {
    display: none;
  }
}

.header-logo-tasty {
  /* вынести в root */
  color: 9BB537;
  text-align: center;
  letter-spacing: -4%;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}

.header-logo-treats {
  /* вынести в root */
  color: 050505;
}