/* @media screen and (min-width: 1080px) {
    .container {
      width: calc(100% - 64px);
    }
  
    .hero {
      background-image: url(../images/favorites-hero-1x.jpg);
      border-radius: 15px;
      background-repeat: no-repeat;
      background-size: cover;
      margin: auto;
      margin-right: 32px;
      margin-left: 32px;
      margin-bottom: 72px;
    }
  
    .hero-title {
      padding-top: 381px;
    }
  
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
        background-image: url(../images/favorites-hero-2x.jpg);
      }
    }
  } */