@media screen and (min-device-pixel-ratio: 1) and (min-width: 1200px),
  screen and (min-resolution: 96dpi) and (min-width: 1200px),
  screen and (min-resolution: 1dppx) and (min-width: 1200px) {
  .hero-favorites {
    width: 1080px;
    height: 356px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/card-favorites-hero-1080-1x_720.jpg);
    border-radius: 15px;
    /* background-repeat: no-repeat; */
    /* background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; */
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero-favorites {
    width: 1080px;
    height: 356px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../images/card-favorites-hero-1080-2x_720.jpg);
    border-radius: 15px;
    /* background-repeat: no-repeat; */
    /* background-repeat: no-repeat; */
  }
}



  /* card

position: absolute;
width: 1080px;
height: 356px;
left: 100px;
top: 100px;

background: url(front-view-cook-preparing-food-inside-kitchen-food-meal-fry-cook.jpg);
border-radius: 15px; */
