@import url('./main.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./hero-favorites.css');
@import url('./recipe.css');
@import url('./popular_recipes.css');
@import url('./extrafilters.css');
@import url('./scroll-up.css');
@import url('./add-rating.css');